@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#root {
  font-family: 'Luckiest Guy';
  background-image: url('../assets/pokemon-pixel-art-bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
