.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffcc00;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0075be;
}

.card img {
  width: 170px;
  height: auto;
}
